<div>
  <% if book.present? %>
    人数：<%= book.persons %>
    来訪予定日：<%= book.date %> : <%= express_time(book.start_time) %>
    <%= link_to "予約者のプロフィールを確認する", user_path(book.user_id) %>
  <% else %>
    <p>まだ予約がありません</p>
  <% end %>
</div>
