<%= render partial: '/layouts/header' %>
<!-- これページ遷移せずにクリックしたらリスト表示でバーってなるようにしたい！！ -->
<br><br><br><br>
<div>
  <h4>予約者(cooks)一覧</h4>
  <% if @books.present? %>
    <%= render partial: 'book', collection: @books %>
  <% else %>
    <p>まだ予約がありません</p>
  <% end %>
</div>
<br>
<div>
  <h4>自分の予約を確認する</h4>
  <% if @self_books.present?  %>
    <%= render partial: 'selfbook', collection: @self_books %>
  <% else %>
    <p>まだ予約がありません</p>
  <% end %>
</div>
<%= render partial: '/layouts/footer' %>
