= render partial: '/layouts/header'
|  <div, id="contents" class="cFix"> 
#mainContents[style="margin-top: 50px;"]
  table.wFull.bdCell.pCell5.mT20[cellspacing="0"]

  p.mT10
    span.fgBlue.b
      | ◎
    | の日時が受け入れ可能日です。変更したい日を選んで送信してください。
    br
  = form_tag('/schedule') do
    #jsRsvCdTbl.ReserveConditionTable.underTabContents
      .coverTable
        .whiteTable2
          table.innerTable.taC.nowrap[cellpadding="0" cellspacing="0"]
            tr
              th.timeColor[rowspan="2"]
                span.iS.arrowPagingWeekLOff
                  | 前の一週間
              th.monthColor.pV10[colspan="2"]
                |  
              th.monthColor.pV10[colspan="12"]
                | 2015年06月
              th.timeColor[rowspan="2"]
            tr
              - @days.each do |d|
                |  <th class="
                = WCLASS[d.wday]
                | ">
                = d.day
                br
                | (
                = WDAY[d.wday]
                | )
            tr
              th.innerCell
                table.moreInnerTable.vaT[cellpadding="0" cellspacing="0"]
                  - (9..23).each do |t|
                    tr
                      th.timeCell
                        p.hourR
                          = t
                          | ：00
                    tr
                      th.separate
                    tr
                      th.timeCell
                        p.hourR
                          = t
                          | ：30
                    tr
                      th.separate
              - @days.each do |day|
                th.innerCell
                  table.moreInnerTable[cellpadding="0" cellspacing="0"]
                    - 30.times do |t|
                      - if CooksSchedule.find_by(user_id: current_user.id, start_time: 90+t*5, date: day, flag: 0).blank?
                        tr
                          td.closeColor
                            p.scheduleOffR
                              | －
                              = check_box "shift[#{day}]", "#{t*5+90}" , {}, true, false
                        tr
                          th.separate
                      - else
                        tr
                          td.openColor
                            p.scheduleR
                              | ◎
                              = check_box "shift[#{day}]", "#{t*5+90}" , {}, true, false
                        tr
                          th.separate
              td[valign="top"]
                table.moreInnerTable.vaT[cellpadding="0" cellspacing="0"]
                  - (9..23).each do |t|
                    tr
                      th.timeCell
                        p.hourR
                          = t
                          | ：00
                    tr
                      th.separate
                    tr
                      th.timeCell
                        p.hourR
                          = t
                          | ：30
                    tr
                      th.separate
    input.btn.btn-default[type="submit" value="提出"]
