// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.place_on_index :hover{
  background: #fbf4ea;
  opacity: 0.9;
  cursor: auto;
}

.product_title {
  color: #b94e62;
  font-size: 18px;
}

